<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link>
        <link rel="stylesheet" href="/authenctication.css"/>
    </head>
    <body>
        <div class="box">
            <div class = "inp">
                <div class = "nazv">ARTSAKH</div>
                <input type="Login" placeholder="Login" size="40px">
                <input class="na" type="Password" placeholder="password" size="40px">
            </div>
            <div class="knop">
               <button class="btn"> Войти</button>
            </div>
            <div class="reg">
                <a class="regg" href="/signUp" th:text="'Нет аккаунта?'"></a>
            </div>
        </div>
    </body>
</html>