<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sty.css"/>
</head>

<body>
    <div class = "main">
        <pre>
            Добро пожаловать в
                ARTSAKH
    <small>создай проект мечты</small>
</pre>

    </div>
    <div class = "btn">
    <a href="/authentication" class="blubtn">Начать работу</a>
</div>

</body>
</html>